* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.sidebar {
  flex: 15%;
}
.sidebar-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  padding: 20px;
}
.logo {
  padding-left: 15px;
}
.sidebar-content {
  margin-top: 30px;
}
.sidebar-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  cursor: pointer;
}
.sidebar-info h5 {
  color: gray;
}
.sidebar-info img {
  width: 20px;
}
.sidebar-info:hover {
  background: rgb(120, 192, 221);
  opacity: 1rem;
  border-radius: 50px;
  padding: 20px;
}
.main {
  flex: 85%;
  background: #e5e5e5;
  /* height: 100vh; */
  /* padding: 20px; */
}
header {
  background: white;
  /* padding-top: 5px; */
  font-size: 2rem;
  position: sticky;
  top: 0;
}
/* right header */
.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
input {
  border: none;
  outline: 0;
  padding: 2px;
  cursor: pointer;
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.username {
  font-size: 14px;
}
.user-info h6 {
  color: gray;
  font-size: 14px;
}
.img-wrapper {
  position: relative;
}
.green-dot {
  position: absolute;
  background: #34b53a;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0.2rem;
  bottom: 0;
  right: 0;
}
/* dashborad-anallisis */
.dashboard-anallisis {
  padding: 20px;
}
.dms-dash {
  margin-top: 30px;
  /* padding: 5% 3%; */
}
.card {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.9rem;
  background-color: #fff;
  margin-bottom: 0.9rem;
  padding: 20px;
  border-radius: 5px;
}
.card-tp {
  display: flex;
  justify-content: space-between;
}
.card-tp h3 {
  width: 49%;
}
.card-tp img {
  width: 30px;
}
.card-bm {
  display: flex;
  justify-content: space-between;
}
.order-text {
  display: flex;
  gap: 1rem;
}
.order-text h1 {
  color: red;
}
.today {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.orders {
  width: 110%;
}
.dms-dash-2 {
  background-color: #fff;
}
.dms-dash-2 p{
  color: gray;
  font-size: 13px;
}
.grid-item-content {
  padding-bottom: 0.7rem;
}
.grid-item-img {
  padding-bottom: 0.8rem;
}
.percentage {
  display: flex;
  flex-direction: column;
}
.percentage h4 {
  color: red;
}
.percentage img {
  width: 50%;
  padding-bottom: 0.9rem;
}
.dms-dash-3 {
  background-color: dodgerblue;
}
.dms-dash-4 {
  background-color: #ffff;
}
.dms-dash-4 p{
  color: gray;
  font-size: 13px;
}
.grid-item-top {
  display: flex;
  justify-content: space-between;
}
.grid-item-bottom{
  display: flex;
  justify-content: space-between;
}
.grid-item-bottom-right{
  padding-top: 6rem;
}
.grid-item-bottom-right h3{
  font-size: 30px;
}
.bike-man-group img {
  width: 65px;
  padding-bottom: 0.5rem;
}
.bike-man-group {
  padding: 0.8rem 0 0.8rem;
}
.bike-504-group{
  color: red;
  padding: 0.6rem 0 0.6rem;
}
.bike-267-group{
  color: blue;
  padding: 0.6rem 0 0.6rem;
}
.dms-dash-5 {
  background-color: gray;
}
.grid-item {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
}
@media (min-width: 576px) {
  .dms-dash {
    display: flex;
  }
  .dms-dash-1 {
    flex-basis: 25%;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
  }
  .top-right {
    display: flex;
    flex-basis: 50%;
  }
  .bottom-right {
    display: flex;
    flex-basis: 50%;
  }
  .dms-dash-2 {
    flex-basis: 25%;
  }
  .dms-dash-3 {
    flex-basis: 75%;
  }
  .dms-dash-4 {
    flex-basis: 35%;
  }
  .dms-dash-5 {
    flex-basis: 65%;
  }
  .right-container .grid-item {
    margin-left: 10px;
  }
}
@media (max-width: 1070px) {
  .sidebar{
    display: none;
  }
}